<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"></script>

    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.css">
    <script src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.18/datatables.min.js"></script>




</head>
<body  class="container-fluid p-5">

    <button id="clearFilters">Borrar filtros</button>

<div class="table-responsive" id="example-container">
    <table class="records_list table table-striped table-bordered table-hover"  id="example">
        <thead>
            <tr>
                {% for key in data[0].keys() %}
                <th>{{ key }}</th>
                {% endfor %}
            </tr>

        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                {% for value in item.values() %}
                <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>




<script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

<script type="text/javascript">

   

$(document).ready(function() {
  // Inicializar DataTables
  var table = $('#example').DataTable({
    
    "dom": 'B<"float-left"i><"float-right"f>t<"float-left"l><"float-right"p><"clearfix">',
    "responsive": true,
    "language": {
      "url": "https://cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
      
      
    },

    "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
    
    "order": [
      [0, "desc"]
    ], 
    "initComplete": function () {
      this.api().columns().every(function () {
          var that = this;
      });
    }
  })

  
  
  
  

  // Filtrar la tabla cuando se hace clic en cualquier celda
  $('#example').on('click', 'td', function() {
    table.search($(this).text()).draw();
  });

  // Borrar todos los filtros cuando se hace clic en el botón
  $('#clearFilters').on('click', function() {
    table.search('').draw();
  });
});


    








</script>




</body>
</html>
